<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>TheLocals Font Icons</title>
  <link rel="stylesheet" href="./locals-icons2.css">

  <style>
    dl dt {
      padding: 1em 0 0 .3em;
      float: left;
      clear: left;
      font-size: 1.25em;
    }

    dl dd {
      padding: 1.25em 0;
    }
  </style>
</head>
<body>
  <dl><% _.each(glyphs, function(glyph) { %>
    <dt><i class="<%= className %> <%= className %>-<%= glyph.name %>"></i></dt>
    <dd><code><%= className %>-<%= glyph.name %></code></dd><% }); %></dl>
</body>
</html>